<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task adder 9000</title>
</head>
<body>
    <section>
        <h2>Task adder 9000</h2>
    </section>
    <section>
        <form action="#" th:action="@{/addTask}" th:object="${task}" method="post">

            <label for="todo">Task</label><br>
            <input th:field="*{todo}" type="text" name="todo" id="todo">
    
            <br>
            <label for="desc">Description</label><br>
            <textarea th:field="*{desc}" type="text" name="desc" id="desc" style="resize: none;"></textarea>
    
            <button type="submit" class="navButton">Add task</button>

    
    
    
        </form>
    </section>

</body>
</html>