<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <section>
    <h1>Task manager 3000</h1>
  </section>
  <section>
    <a href="/add" class="navButton">Add a new task</a>
  </section>
  <section class="taskSection">
    <div th:switch="${tasks}">
      <h2 th:case="null">No available tasks</h2>
      <div th:case="*">
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Description</th>
              <th>Complete</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="task : ${tasks}">
              <td th:text="${task.todo}"></td>
              <td th:text="${task.desc}"></td>
              <td><a class="tableButton" th:href="@{/delete/{id}(id=${task.id})}">Completed</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</body>
</html>