<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta task="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <div th:switch="${doDos}">
    <h2 th:case="null">doDos do not exist</h2>
    <div th:case="*">
      <table>
        <thead>
          <tr>
            <th>task</th>
            <th>doDate</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="doDo : ${doDos}">
            <td th:text="${doDo.task}"></td>
            <td th:text="${doDo.doDate}"></td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p><a href="/signup">Add a new doDo</a></p>
</body>
</html>