<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta foodname="viewport" content="width=device-width, initial-scale=1.0">
  <title>Addfoodname</title>
</head>
<body>
  <h1>Addfoodname</h1>
  <form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
    <label for="foodname">foodname</label>
    <input th:field="*{foodname}" type="text" foodname="foodname" id="foodname">
    <span th:if="${#fields.hasErrors('foodname')}" th:errors="*{foodname}"></span><br/>
    <button type="submit">Add New food</button>
  </form>
</body>
</html>