<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta foodname="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <p> </p>
  <div th:switch="${foods}">
    <h2 th:case="null">Foods do not exist</h2>
    <div th:case="*">
      <table>
        <thead>
          <tr>
            <th>foodname</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="food : ${foods}">
            <td th:text="${food.foodname}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p><a href="/signup">Add a new food</a></p>
</body>
</html>